# Environment Variables - DO NOT COMMIT TO GITHUB
# Copy this file to .env and fill in your actual credentials

IVASMS_EMAIL=mm0899701@gmail.com
IVASMS_PASSWORD=medomedo1*
TELEGRAM_BOT_TOKEN=7137396185:AAHzbgtG18qpNM-n9THpzBFseAjYg-4ThC0
TELEGRAM_GROUP_ID=-1003864571398
FLASK_ENV=production
